.mision{
    overflow: hidden;
    padding: 50px;
    margin: 50px;
    background-color: rgb(21, 144, 245);
    border-radius: 25px;
}

.mision h1{
    text-align: center;
    color: white;
    padding-bottom: 15px;
    line-height: 20px;
    font-size: 30px;
    font-weight: bold;
}

.mision p{
    text-align: center;
    color: white;
    line-height: 20px;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
}

.vision{
    overflow: hidden;
    padding: 50px;
    margin: 50px;
    border: 2px solid rgb(21, 144, 245);
    border-radius: 25px;
}

.vision h1{
    text-align: center;
    color: rgb(21, 144, 245);
    padding-bottom: 15px;
    line-height: 20px;
    font-size: 30px;
    font-weight: bold;
}

.vision p{
    text-align: center;
    color:  rgb(21, 144, 245);
    line-height: 20px;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
}

.story{
    overflow: hidden;
    padding: 50px;
    margin: 50px;
    border: 2px solid rgb(21, 144, 245);
    border-radius: 25px;
}

.story h1{
    color:  #555;
    padding-bottom: 15px;
    line-height: 20px;
    font-size: 30px;
    font-weight: bold;
}

.story p{
    text-align: left;
    color:  #555;
    line-height: 20px;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
}

@media screen and (max-width: 500px) {
    .intro{
        overflow: hidden;
        padding: 0px;
        visibility: hidden;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .intro{
        overflow: hidden;
        padding: 0px;
        visibility: hidden;
    }
  }
