.contact{
    margin: 40px 40px;
    border: 2px solid rgb(21, 144, 245);
    border-radius: 25px;
}

.title{
    padding: 50px;
}

.titlecontact h1{
    text-align: center;
    font-size: 60px;
    padding: 100px;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.title h1{
    text-align: justify;
    font-weight: 400;
    font-size: 30px;
    color: rgba(48, 48, 48);
    padding-bottom: 5px;
}

.title p{
    text-align: justify;
    font-weight: normal;
    font-size: 15px;
    color: rgba(48, 48, 48);
    padding-bottom: 15px;
}

@media screen and (max-width: 500px) {
    .titlecontact h1{
        font-size: 50px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .titlecontact h1{
        font-size: 50px;
    }
  }