.category{
    overflow: hidden;
    padding: 50px 250px;
    font-size: 15px;
    visibility: visible;
}

.category .cat1{
    border: 2px solid rgb(21, 144, 245);
    padding: 20px 100px;
    border-radius: 50px;
    color: rgb(21, 144, 245);
    text-decoration: none;
    font-weight: bold;
    float: left;
    transition: 0.5s;
}

.category .cat1:hover{
    background-color: rgb(21, 144, 245);
    color: white;
}

.category .cat2{
    border: 2px solid rgb(21, 144, 245);
    padding: 20px 75px;
    border-radius: 50px;
    color: rgb(21, 144, 245);
    text-decoration: none;
    font-weight: bold;
    float: right;
    transition: 0.5s;
}

.category .cat2:hover{
    background-color: rgb(21, 144, 245);
    color: white;
}

.post1{
    float: left;
    padding: 10px;

}

.post{
    overflow: hidden;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    float: left;
    visibility: visible;
}

.post img{
    width: 320px;
    height: 180px;
    border-radius: 25px 25px 25px 25px;
}

.title{
    overflow: hidden;
    padding: 40px 30px;
}

.title a{
    text-decoration: none;
}

.title h1{
    color: rgb(22, 144, 245);
    line-height: 20px;
    text-align: left;
    padding-bottom: 15px;
}

.title h1:hover{
    color: rgb(25, 118, 194);
}

.title p{
    color: rgb(48, 48, 48);
    text-decoration: none;
    text-align: justify;
}

@media screen and (max-width: 500px) {
    .category{
        visibility: hidden;
        padding: 0;
        font-size: 0px;
    }
    .post1{
        float: none;
        padding: 0px;
    
    }
    .post{
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        float: none;
        visibility: hidden;
    }
    .title{
        overflow: hidden;
        padding: 00px 30px;
    }
    .post img{
        width: 0px;
        height: 0px;
    }

    .title h1{
        line-height: 40px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .category{
        visibility: hidden;
        padding: 0;
        font-size: 0px;
    }
    .post1{
        float: none;
        padding: 0px;
    }
    .title h1{
        line-height: 40px;
    }

    .post img{
        width: 0px;
        height: 0px;
    }

    .post{
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        float: none;
        visibility: hidden;
    }
    .title{
        overflow: hidden;
        padding: 00px 30px;
    }
  }

  