.offerpost{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.offerphoto{
    overflow: hidden;
    float: left;
    padding: 40px 20px;
}

.offerphoto img{
    width: 400px;
    height: 300px;
}

.offertitle{
    overflow: hidden;
    padding: 40px 30px;
}

.offertitle a{
    text-decoration: none;
}

.offertitle h1{
    color: rgb(22, 144, 245);
    line-height: 75px;
    font-size: 75px;
    text-align: left;
    padding-bottom: 25PX;
}


.offertitle p{
    color: rgb(48, 48, 48);
    text-align: left;
    font-size: 20px;
}


@media screen and (max-width: 500px) {
    .offerpost{
        height: auto;
        display: block;
        padding: 20px;
    }

    .offertitle h1{
        line-height: 75px;
        font-size: 50px;
        text-align: left;
        padding-bottom: 25PX;
    }

    .offertitle{
        overflow: hidden;
        padding: 40px 30px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .offerpost{
        height: auto;
        display: block;
        padding: 20px;
    }

    .offerphoto img{
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    .offertitle h1{
        line-height: 75px;
        font-size: 50px;
        text-align: left;
        padding-bottom: 25PX;
    }

    .offertitle{
        overflow: hidden;
        padding: 40px 30px;
    }
  }