@import url(https://fonts.googleapis.com/css2?family=Poppin);

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 243, 250);
}

.header{
    width: 100%;
    margin: auto;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: rgb(21, 144, 245);
    cursor: pointer;
    font-size: xx-large;
}

.logo a{
    text-decoration: none;
    color: rgb(21, 144, 245);
}

.socialmediaicon{
    display: flex;
    align-items: center;
}

.socialmediaicon img{
    width: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.socialmediaicon a{
    text-decoration: none;
    font-weight: 500;
    font-size: medium;
    padding: 5px 10px;
    color: rgb(21, 144, 245);
    border: solid 2px rgb(21, 144, 245);
    border-radius: 10px;
}

.navbar{
    width: 100%;
    overflow: auto;
    background-color:  rgb(21, 144, 245);
}

.navigation a{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: medium;
    width:20%;
    text-align: center;
    font-weight:500;
    transition: 0.5s;
}

.navigation a:hover{
    background-color: rgb(36, 154, 250);
}

footer{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: #f0f0f0;
    visibility: visible;
}

/* Center the copyright text */
footer p {
    margin: 0;
}

@media screen and (max-width: 500px) {
    .logo{
        font-size: large;
    }
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
    .socialmediaicon img{
        visibility: hidden;
    }
}

@media screen and (max-width: 1000px) {
    footer{
        visibility: hidden;
    }
}